{% extends 'backend.html'%}

{% block page_css %}
<style> 
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center">
       <div class="form-wrapper col col-lg-7">
        <div class="action__wrapper">
            <div class="row my-2 d-flex justify-content-center">
                <div class="col-10 col-lg-12 text-center">
                    <h1>Signup Instantly. Free to Get Started!</h1>
            <hr />
                </div> 
            </div>
            <div class="row btn-row d-flex justify-content-center">
                <div class="col-12 col-md-8 col-xl-5 my-2">
                    <div class="row d-flex justify-content-center">
                        <form action="/accounts/signup/" method="post">
                            {% csrf_token %}
                            <div class="col-12 col-md-7 col-xl-6 my-2">
                                <div>{{ form.username.label_tag }}
                                    {{ form.username }}</div>
                            </div>
                            <div class="col-12 col-md-7 col-xl-6 my-2">
                                <div>{{ form.password1.label_tag }}
                                    {{ form.password1 }}</div>
                            </div>
                            <div class="col-12 col-md-7 col-xl-6 my-2">
                                <div>{{ form.password2.label_tag }}
                                    {{ form.password2 }}
                                    </div>
                            </div>
                            <div class="col-12 col-md-7 col-xl-6 my-2">
                                <div>
                                    <input class="btn btn-primary" type="submit" value="Signup">
                                </div>
                            </div>
                        </form>
                        <div class="col-12 my-2 text-center">
                            <span class="align-middle">or</span>
                        </div>
                        <div class="col-12 col-md-4 my-2">
                            <button class="btn btn-outline-primary btn-block" type="button">
                                <a href="/accounts/login/">Login</a>
                            </button>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
       </div>
    </div>
</div>
{% endblock %}