{% extends 'backend.html'%}

{% block page_css %}
<style>
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center">
       <div class="form-wrapper col col-lg-7">
        <div class="action__wrapper">
            <div class="row my-2 d-flex justify-content-center">
                <div class="col-10 col-lg-12 text-center">
                    <h1>Login</h1>
                    <hr />
                    {% if form.errors %}
                    <p>Your username and password didn't match. Please try again.</p>
                    {% endif %}

                    {% if next %}
                        {% if user.is_authenticated %}
                        <p>Your account doesn't have access to this page. To proceed,
                        please login with an account that has access.</p>
                        {% else %}
                        <p>Please login to see this page.</p>
                        {% endif %}
                    {% endif %}
                </div> 
            </div>
            <div class="row btn-row d-flex justify-content-center">
                <div class="col-12 col-md-8 col-xl-5 my-2">
                    <div class="row d-flex justify-content-center">
                        <form method="post" action="{% url 'accounts:login' %}">
                            <div class="form-group">
                                {% csrf_token %}
                                <div class="col-12 col-md-7 col-xl-6 my-2">
                                    <div>{{ form.username.label_tag }}
                                        {{ form.username }}</div>
                                </div>
                                <div class="col-12 col-md-7 col-xl-6 my-2">
                                    <div>{{ form.password.label_tag }}
                                        {{ form.password }}</div>
                                </div>
                                <div class="col-12 col-md-7 col-xl-6 my-2">
                                    <div>
                                        <input class="btn btn-primary" type="submit" value="Login">
                                        <input type="hidden" name="next" value="{{ next }}">
                                    </div>
                                </div>
                                {# Assumes you setup the password_reset view in your URLconf #}
                                <p><a href="{% url 'accounts:password_reset' %}">Forgot password</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
       </div>
    </div>
</div>
{% endblock %}