{% extends "backend.html" %}

{% load bootstrap_tags %}
{% load phone_number_filter %}
{% load staticfiles %}

{% block title %}localCall{% endblock title %}

{% block page_css %}
<style>
    .header-row {
        margin: 10% 0;
    }
    .btn-row {
        margin: 5% 0;
    }
    div.btn-row a {
          text-emphasis: none;
          text-decoration: none;
          color: white;
      }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center">
       <div class="form-wrapper col col-lg-7">
        <div class="action__wrapper">
            <div class="row my-2 d-flex justify-content-center">
                <div class="col-10 col-lg-12 text-center">
                    <h1>Signup For Free Today!</h1>
                </div> 
            </div>
            <div class="row btn-row d-flex justify-content-center">
                <div class="col-12 col-md-3 col-xl-2 my-2">
                    <button class="btn btn-primary btn-block" type="button">
                        <a href="/accounts/signup/">Signup</a>
                    </button>
                </div>
                <div class="col-12 col-lg-1 my-2 text-center">
                    <span class="align-middle">or</span>
                </div>
                <div class="col-12 col-md-3 col-xl-2 my-2">
                    <button class="btn btn-secondary btn-block" type="button">
                        <a href="/accounts/login/">Login</a>
                    </button>
                </div>
            </div>
        </div>
       </div>
    </div>
</div>
{% endblock %}